/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation bar */

.nav-area {

    display: flex;
    flex-wrap: wrap;

<<<<<<< HEAD:style.css
=======
    border-style: solid;
    border-color: black;
>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css
    backdrop-filter: blur(10px);
    
}

.nav-list{
    display: flex;
    

    list-style: none;
    gap: 10%;
    margin-left: auto;
    padding-right: 10%;

<<<<<<< HEAD:style.css
=======
    border-style: solid;
    border-color: orange;
    
}

.nav-list li:hover{
    background-color: #9c8888;
}

/* område i navigation bar */
.nav-list li{ 
    
    border-style: solid;
    border-color: black;
>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css

    
}

<<<<<<< HEAD:style.css
.nav-list li:hover{
    background-color: #9c8888;
}

/* område i navigation bar */
.nav-list li{ 
    


    
}

/* text i navigation bar */
.nav-list a{ 
    text-decoration: none;
    color: black;
    font-size: 30px;

    
}

=======
/* text i navigation bar */
.nav-list a{ 
    text-decoration: none;
    color: black;
    font-size: 30px;

    
}

>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css
.logo{ 
    display: flex;

    text-decoration: none;
    padding-left: 2%;
    color: white;;
    font-size: 60px;

<<<<<<< HEAD:style.css

=======
    border-style: solid;
    border-color: black;
>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css

    
}


/* den her er bare til, hvis logoet er et billede */
.logo img{ 
    display: flex;

    height: 60px;
    padding-left: 20px;

<<<<<<< HEAD:style.css

=======
    border-style: solid;
    border-color: red;
>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css

}

/* front picture */
.front-picture {
    background-image: url('images/background2.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;

    border-style: solid;
    border-color: orange;


}

.picture-text-area {

    display: flex;
    font-size: 60px;
    font-family: Andale Mono,AndaleMono,monospace; 

    border-style: solid;
    border-color: green;
}

.picture-text-area {

    display: flex;
    font-size: 60px;
    font-family: Andale Mono,AndaleMono,monospace; 

    position: relative;
    left: 15%;
    top: 30%;




 



}

    /* Main section */


/* content section */
.about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    flex-shrink: 1;
    flex-grow: 1;
    
<<<<<<< HEAD:style.css


=======

    border-style: solid;
    border-color: red;

>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css
    background-color: rgba(219, 219, 219, 0.959);


    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;

}

.history {
    display: flex;
    color: #333;

<<<<<<< HEAD:style.css
=======
    border-style: solid;
    border-color: blue;
>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css
    padding-left: 50px;
}

/* Product section */
.product-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-shrink: 1;
    flex-grow: 1;
    




    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;

}


.product-box {
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 35%;

    padding: 10px;
    border-radius: 2em;

    background-image: linear-gradient(rgb(20, 163, 211), rgb(201, 201, 201));



}

.product-picture {
    display: flex;

    border-radius: 2em;

}



.product-picture img {
    max-width: 100%;
    height: auto;
    display: flex;

    border-radius: 2em;
}

.product-name {
    display: flex;

}

.product-button {
    display: flex;
<<<<<<< HEAD:style.css

=======
    text-decoration: none;
    color: #fff;
    border-style: solid;
    border-color: pink;
>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css
    justify-content: center;
    padding: 1%;
    border-radius: 2em;
    background-color: rgb(85, 85, 199);
}

.product-button:hover, .product-button:focus, .product-button:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.03);
}

.section-header {

    width: 100%;

<<<<<<< HEAD:style.css

=======
    border-style: solid;
    border-color: grey;
>>>>>>> eb58b79 (	new file:   HVK hjemmeside/images/background2.jpg):HVK hjemmeside/style.css
    font-size: 50px;
}

/* Product page area */
.picture-product-area {
    display: flex;
    border-style: solid;
    border-color: grey;
    width: 100%;

}

.left-side {
    border-style: solid;
    border-color: grey;

    width: 50%;
    height: 50%;
    background-color: #333;
}

.right-side {
    
    border-style: solid;
    border-color: grey;
    margin-left: auto;
    width: 50%;
    height: 50%;


}

.right-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}



/* Contact form section */
.contact {
    padding-left: 50px;


}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
