/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation bar */

.nav-area {

    display: flex;
    flex-wrap: wrap;

    border-style: solid;
    border-color: black;
    backdrop-filter: blur(10px);
    
}

.nav-list{
    display: flex;
    

    list-style: none;
    gap: 10%;
    margin-left: auto;
    padding-right: 10%;

    border-style: solid;
    border-color: orange;
    
}

.nav-list li:hover{
    background-color: #9c8888;
}

/* område i navigation bar */
.nav-list li{ 
    
    border-style: solid;
    border-color: black;

    
}

/* text i navigation bar */
.nav-list a{ 
    text-decoration: none;
    color: black;
    font-size: 30px;

    
}

.logo{ 
    display: flex;

    text-decoration: none;
    padding-left: 2%;
    color: white;;
    font-size: 60px;

    border-style: solid;
    border-color: black;

    
}


/* den her er bare til, hvis logoet er et billede */
.logo img{ 
    display: flex;

    height: 60px;
    padding-left: 20px;

    border-style: solid;
    border-color: red;

}

/* front picture */
.front-picture {
    background-image: url('images/background2.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;

    border-style: solid;
    border-color: orange;


}

.picture-text-area {

    display: flex;
    font-size: 60px;
    font-family: Andale Mono,AndaleMono,monospace; 

    position: relative;
    left: 15%;
    top: 30%;



    border-style: solid;
    border-color: green;
 



}

    /* Main section */


/* content section */
.about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    flex-shrink: 1;
    flex-grow: 1;
    

    border-style: solid;
    border-color: red;

    background-color: rgba(219, 219, 219, 0.959);


    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;

}

.history {
    display: flex;
    color: #333;

    border-style: solid;
    border-color: blue;
    padding-left: 50px;
}

/* Product section */
.product-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-shrink: 1;
    flex-grow: 1;
    

    border-style: solid;
    border-color: red;


    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;

}


.product-box {
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 35%;

    padding: 10px;
    border-radius: 2em;

    background-image: linear-gradient(rgb(20, 163, 211), rgb(201, 201, 201));

    border-style: solid;
    border-color: red;

}

.product-picture {
    display: flex;

    border-radius: 2em;

    border-style: solid;
    border-color: pink;
}

.product-picture img {
    max-width: 100%;
    height: auto;
}

.product-name {
    display: flex;
    border-style: solid;
    border-color: pink;

}

.product-button {
    display: flex;
    border-style: solid;
    border-color: pink;
    justify-content: center;
}

.section-header {

    width: 100%;

    border-style: solid;
    border-color: grey;
    font-size: 50px;
}

/* Contact form section */
.contact {
    padding-left: 50px;

    border-style: solid;
    border-color: yellow;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}